body{
    padding: 0;
    margin: 0;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url("https://images.hdqwalls.com/wallpapers/sky-clouds-4k-ja.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: .4s;

}

.input{
    visibility: hidden;
}

.label{
    width: 80px;
    height: 40px;
    background-color: lightgray;
    position: absolute;
    border-radius: 20px;
    cursor: pointer;
}

.circle{
    width: 34px;
    height: 34px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 3px;
    animation: toggleOff .4s linear forwards;
}

.input:checked + .label{
    background-color: #fff;
}

.input:checked + .label .circle{
    animation: toggleOn .4s linear forwards;
    background-color: black;
}

@keyframes toggleOn {
    0%{
        transform: translateX(0);
    }

    100%{
        transform: translateX(40px);
    }
}

@keyframes toggleOff {
    0%{
        transform: translateX(40px);
    }

    100%{
        transform: translateX(0);
    }
}